Listen 80
<VirtualHost *:80>


    DocumentRoot "/var/www/formulario"
    ServerName formulario.unam.mx
    ServerAlias *.formulario.unam.mx
    ErrorDocument 404 "Recurso no disponible"

    ErrorLog ${APACHE_LOG_DIR}/formulario-error.log  
    CustomLog ${APACHE_LOG_DIR}/formulario-access.log
    # Other directives here
</VirtualHost>